* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF5;
}

/* Estilizaçao do cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    background-color: #1A5F74;
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 135px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

nav a:hover {
    text-decoration: underline;
}

.topimg {
    width: 60px;
    height: 60px;
}

/* Conteúdos */

.conteudos {
    max-width: 1400px;
    margin: 0 auto;
    padding: 180px 80px 80px;
}

.conteudos h1 {
    text-align: center;
    color: #1A5F74;
    font-family: sans-serif;
    font-size: 55px;
    margin-bottom: 60px;
}

.categoria {
    margin-bottom: 80px;
}

.categoria h2 {
    color: #1A5F74;
    font-family: sans-serif;
    font-size: 42px;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    min-width: 300px;

    background-color: white;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(0,0,0,0.15);

    overflow: hidden;

    transition: 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3 {
    color: #1A5F74;
    font-family: sans-serif;
    font-size: 28px;

    padding: 20px 20px 10px;
}

.card p {
    color: #333333;
    font-family: sans-serif;
    font-size: 18px;

    padding: 0 20px 20px;
}

.btn-curso {
    display: block;

    margin: 0 20px 20px;

    padding: 15px;

    background-color: #fcd94d;

    color: #1A5F74;

    text-align: center;
    text-decoration: none;

    font-weight: bold;
    font-family: sans-serif;

    border-radius: 12px;
    border: 2px solid #C9AD36;
}

/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 33%;

    background-color: #333333;
    width: 100%;
    height: 135px;
}

footer p{
    color: #D5DADD;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 100;
}

.footerimg {
    width: 70px;
    height: 70px;
}