* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFDF5;
}

/* Estilizaçao do cabeçalho */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 80px;

    background-color: #1A5F74;
    position: fixed;
    z-index: 100;

    width: 100%;
    height: 135px;
}

nav {
    display: flex;
    gap: 50px;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    font-family: sans-serif;
}

.topimg {
    width: 60px;
    height: 60px;
}


/* Conteúdo da página Sobre Nós */

.sobrenos {
    max-width: 1000px;

    margin: 0 auto;

    padding-top: 180px;
    padding-bottom: 80px;
    padding-left: 20px;
    padding-right: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobrenos h1 {
    color: #1A5F74;
    font-family: sans-serif;
    font-size: 48px;
    margin-bottom: 40px;
}

.sobrenos img {
    width: 100%;
    max-width: 500px;

    border-radius: 20px;

    margin-bottom: 40px;

    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.sobrenos p {
    color: #333333;

    font-family: sans-serif;
    font-size: 22px;

    text-align: justify;
    line-height: 1.8;
}


/* footer */

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 33%;

    background-color: #333333;
    width: 100%;
    height: 135px;
}

footer p{
    color: #D5DADD;
    text-align: center;
    font-family: sans-serif;
    font-size: 20px;
    z-index: 100;
}

.footerimg {
    width: 70px;
    height: 70px;
}